body {    
    font-family: "Helvetica", sans-serif;
    background-color: $color-quaternary;
}

h2 {
    font-size: 3rem;
}

a {
    color: #000000;
    text-decoration: none!important;
    &:hover {
        color: #000000;
        text-decoration: none!important;
    }

}

.material-icons {
    font-size: 48px;
    color:$color-secondary;
}