.product {

    height: 400px;
    object-fit: cover;
    border-radius: 20px;

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
}

.confirmation-feedback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #00c02b !important;
    border-color: #009d23 !important;
    color: #ffffff;
    margin-top: 10px;
    max-width: 400px;
    padding: 6px;
    background: #cccccc;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.confirmation-feedback--visible {
    top: 130px;
    opacity: 1;
    visibility: visible;
  }