footer {
    padding: 1rem 1.5rem 3rem 1.5rem;
	color: white;
    background-color: $color-tertiary;
    & ul {
        margin: 0px;
        padding: 0;
        list-style: none;     
    }
    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        font-weight: normal;
    }

    li {
        margin: 10px 0;
        span {
            i {
                width:20px;
            }
        }
        a:link {
            text-decoration:none;
            color: black;
        }
    }
}

.socialIcon {
    width: 80px;
    padding: 10px;;   
}

.social {
    text-align: center;
}