header {
    background-color: $color-tertiary;    
	// margin: auto;
    // display: flex;
    // justify-content: center;
    // position: relative;
    // i {
    //     color: black;        
    //     margin-left: 20px;
    // }
    // nav {
    //     display: flex;
    //     align-items: center;
    //     flex-grow: 1;
    // }
}

.navbar-brand {
    width: 240px;
}

nav ul li {
    padding-right: 70px;
    font-weight: bolder;
    font-size:x-large;
}

.logo {    
    width: 100%;
}

.cartIcon {
    width: 50px;;
}