header {
    background-color: $color-tertiary;    
	// margin: auto;
    // display: flex;
    // justify-content: center;
    // position: relative;
    // i {
    //     color: black;        
    //     margin-left: 20px;
    // }
    // nav {
    //     display: flex;
    //     align-items: center;
    //     flex-grow: 1;
    // }
}

.navbar-brand {
    width: 250px;
}

.logo {
    margin-left: -1rem;
    width: 100%;
}